
.paginate{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    list-style-type: none;
}
.break-me{
    word-wrap: break-word;
    margin:1px;

}

.active{
    background-color: #2a3ead;
    color: white;
}
.prev{

    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.next{
   
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.page{
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    margin: 0 3px;
}

.reactflow-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-flow__node{
    width: 1000;
    /* height: 100px; */
    background-color: #2a3ead;
    color: white;
}